name: Testes Cypress

on:
  push:
    branches:
      - main

jobs:
  cypress-tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      
      - name: Instalar dependências
        run: npm install
      
      - name: Executar testes Cypress
        uses: cypress-io/github-action@v6
        with:
          browser: chrome